body{
  background: #fff;
  font-family: "Mukta Mahee" , arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
.site-header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 2;
}
.site-navbar{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  min-height: 300px;
  overflow-y: scroll;
}
.site-navbar nav{
  text-align: left;
}
.site-navbar nav .list-menu{
  font-family: "Playfair+display", times, serif;
}
.site-navbar nav .list-menu a{
  color: #000;
  font-size: 40px;
  padding: 5px 10px;
  position: relative;
}
.site-mid{
  background-size: cover;
  bottom: -35%;
  min-height: 700px;
  width: 100%;
}
.site-mid .overlay:before{
  background: rgba(0,0,0,0.45);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  right: 0;
}
.site-mid-inner{
  height: 100vh;
  min-height: 700px;
}
.site-mid-inner .heading{
  font-size: 40px;
  font-family: "Playfair+Display" ,times,sans-serif;
  color: #fff;
  line-height: 1;
  font-weight: 300;
}
.logo{
  top: 0;
}
.banner{
  margin-bottom: 70px;
}
.banner .heading{
  font-size: 15px;
  font-style: italic;
  font-family: "Mukta Mahee", arial , sans-serif;
  color: #fff;
  letter-spacing: .2em;
  margin-top: 30px;
  position: absolute;
}
.img-desc{
  margin-bottom: 50px;
  position: relative;
}
.fleximage{
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3 all ease;
  transition: 0.3s all ease;
  -webkit-transition: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  position: absolute;

}
.fleximag {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3 all ease;
  transition: 0.3s all ease;
  -webkit-transition: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  display: block;
}
.desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.7;
  margin-top:20px;

}
.desc p{
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  color: #000;

}
.arrow{
  opacity: 1.5;
}
.describe{
  text-align: right;
  opacity: 0.7;

}
.describe .lead{
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  color: #000;
}
.img-description{
  margin-bottom: 50px;
  padding: 0;
}
.bottom-menu{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  display: block;
  margin-bottom: 50px;
  width: 100%;
}
.bt-menu{
  background: #fff;
  height: 400px;
  width: 100%;
  margin-top: 58px;
}
.bt-nav{
  width: 100%;
  margin: 0;
  padding: 0;

}
.bt-nav ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B9B6BA;

}
.bt-nav li{
  display: inline-block;
  border-right:5px solid #bbb;
  height: 100%;
  width: 24%;
}
.bt-nav li a{
  display: block;
  color: #282828;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.bt-nav .active a{
  background: #fff;
  color: #FF6F57;
}
.bt-nav .active a:hover{
  background: #fff;
}
.bt-nav .active a:focus{
  background-color: #ddd;
  background-image: none;
  margin-left:
}
.bottom-imgs img{
  display: inline-block;
  height: 200px;
}
.owl-carousel .owl-item img {
    width:70%;
}

/* Testimonial Section */
.carousel-indicators {
  z-index: 0;
}

.item .details p{
    font-size: 25px;
    line-height: 30px;
    font-family: 'open_sansregular';
    color: #3a3f4b;
    margin-bottom:50px;
}
.item .details small{
    font-size: 20px;
    font-family: 'open_sansregular';
    color: #3a3f4b;
}
.item .details small a{
   text-decoration: underline;
    color: #3a3f4b;
    padding-top: 30px;
}
#quote-carousel{
  padding: 0 10px 30px 10px;
  margin-top:20px;
}
#quote-carousel .carousel-control.left{
  left: -40px;
  float: left;
}
#quote-carousel .carousel-control.right{
  right: -40px;
  float: right;
}
#quote-carousel .carousel-indicators{
  right: 50%;
  top: -160px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li{
  width: 90px;
  height: 90px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  border: 2px solid #f5f6f8;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active{
  background: #333333;
  width: 110px;
  height: 110px;
  border-radius: 100px;
  opacity: 1;
  overflow: hidden;
  border: 2px solid #f5f6f8;
}
.carousel-inner{
  margin-top: 200px;
}
.item{
  border-left: none;
  color: #000000;
}
