body{
  background: #fff;
  font-family: "Mukta Mahee" , arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
.isStuck{
    left:0px;
    width:100%;
}
.menu{
	margin-top:34px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.logo{
	float:left;
	background:url(../images/logo-2.png) no-repeat 0 0;
	width:123px;
	height:80px;
	font-size:0;
	line-height:0;
}
.isStuck .logo{
	background:url(../images/logo.png) no-repeat 0 0;
}
.navwrapper .container{
	padding:0;
	width:auto;
}
.navArea {
	position:relative;
}
.navbar.navbar-inverse.navbar-static-top a.closeMenu {
	width:32px;
	height:32px;
	border:1px solid #fff;
	text-align:left;
	color:#fff;
	font-weight:normal;
	position:absolute;
	right:0;
	top:20px;
	padding:0;
	margin:
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.navbar.navbar-inverse.navbar-static-top a.closeMenu:hover {
	background:none;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a.closeMenu:hover{
	background:none;
}
.closeMenu i {
	font-size:14px;
	line-height:32px;
	color:#fff;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a.closeMenu {
	border-color:#000;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a.closeMenu i {
	color:#000;
}
.navbar-header{
	display:none;
}
.nav > li > a{
	display:inline-block;
	font-size:12px;
	font-weight:200;
	letter-spacing:2px;
}
.navbar-nav > li{
	float: none;
	display: inline-block;
}
.navbar-nav{
	margin: 0 auto;
	text-align: left;
	float: none;
}
.two{
  background-color: #fff;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
}
.one{
  background-color: #f15a29;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
}
.navb.ar-toggle{
	margin-top:14px;
}

.navbar-wrapper {
  margin-top:0px;
  height:80px;
  position: relative;
  z-index: 15;
}
.navbar-wrapper .container{
	padding:0px;
}

.navbar-collapse{
	padding:0;
}
.navbar-collapse.in{
	max-height:100%;
}

.navbar.navbar-inverse.navbar-static-top {
  margin:0px auto;
  background:none;
  color:#c3c8d6;
  border:none;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#fff;
  padding:31px 16px;
  line-height:18px;
  text-align: left;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  background:none;
  color:#fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background: none;
  color:#fff !important;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  color:#fff;
}

.hideClass{
	display:none;
}
.isStuck .navbar-inverse .navbar-nav>.active>a, .isStuck .navbar-inverse .navbar-nav>.active>a:focus{
  background: #181a1c;
  color:#fff ;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a:hover{
  background:#181a1c;
  color:#fff;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a{
  color:#000;
}
.nav-icon {
	width:62px;
	height:32px;
	text-align: left;
	background:#ff6600;
	position:absolute;
	left:50%;
	margin-left:-21px;
	top:36px;
	z-index:999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.nav-icon i {
	color:#fff;
	line-height:32px;
	font-size:24px;
	font-weight:normal;
}
.default-menu {
	margin-top:-80px;
}
.stuckMenu,
.navbar-wrapper{
	-o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;

	background: transparent;
}
.isStuck{
	background:#fff ;

	-o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.site-header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 2;
}
.site-navbar{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  min-height: 300px;
  overflow-y: scroll;
}
.site-navbar nav{
  text-align: left;
}
.site-navbar nav .list-menu{
  font-family: "Playfair+display", times, serif;
}
.site-navbar nav .list-menu a{
  color: #000;
  font-size: 40px;
  padding: 5px 10px;
  position: relative;
}
.site-mid{
  background-size: cover;
  bottom: -35%;
  min-height: 700px;
  width: 100%;
}
.site-mid .overlay:before{
  background: rgba(0,0,0,0.45);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  right: 0;
}
.site-mid-inner{
  height: 100vh;
  min-height: 700px;
}
.site-mid-inner .heading{
  font-size: 40px;
  font-family: "Playfair+Display" ,times,sans-serif;
  color: #fff;
  line-height: 1;
  font-weight: 300;
}
.logo{
  top: 0;
}
.banner1{
  margin-bottom: 70px;
  width: 100%;
  height: 150px;
  position: relative;

}
.banner1 img{
  width: 100%;
  padding: 0;
  display: inline;
  position: relative;
  align:left;
}
.banner1 img:hover{
  opacity: 0.5;
}
.imge {
	padding:2px;
	display:block;
	border:0px solid #bab4bb;
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3 all ease;
  transition: 0.3s all ease;
  -webkit-transition: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  padding:15px;
  border:1px solid 	#bab4bb;
}
.navi{
  background-color: #fff;
  width: 80%;
  height: 60px;
  display: inline-block;
  border-right:5px solid #bbb;
}
.navi .navbar-nav ul li{
  width: 20%;
  border-right:5px solid #bbb;

}
.containe{
  margin-left: 10%;
  margin-top: 15px;
  padding:50px 0px 0 0;
}

.banner1 .heading{
  font-style: italic;
  color: #fff;
  letter-spacing: .2em;
  margin-top: 60px;
  position: absolute;
  font-size:20px;
  line-height:24px;
  font-weight:bold;
  text-align:center center;
  margin-left: 30px;
  font-family: "Noto Sans", sans-serif;
}
.img-desc{
  margin-bottom: 50px;
  position: relative;
}
.fleximage{
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3 all ease;
  transition: 0.3s all ease;
  -webkit-transition: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  position: absolute;


}
.fleximag {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3 all ease;
  transition: 0.3s all ease;
  -webkit-transition: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  display: block;
  padding:15px;
  border:1px solid 	#bab4bb;
}
.desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.7;
  margin-top:20px;

}
.desc p{
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  color: #000;

}
.arrow{
  opacity: 1.5;
}
.describe{
  text-align: right;
  opacity: 0.7;

}
.describe .lead{
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  color: #000;
}
.img-description{
  margin-bottom: 50px;
  padding: 0;
}
.imgs{
  background-color: #fff;
}
.imgsld{
  background-color: #000;
  height: 300px;
  width: 70%;
}
.bottom-menu{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  display: block;
  width: 100%;
}
.imgslid{
  background: #fff;
  height: 400px;
  width: 100%;
  margin-top: 58px;
}
.bt-menu{
  background: #fff;
  height: 400px;
  width: 100%;
  margin-top: 58px;
}
.bt-nav{
  width: 80%;
  margin: 0;
  padding: 0;

}
.bt-nav ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B9B6BA;

}
.bt-nav ul li{
  display: inline-block;
  border-right:5px solid #bbb;
  height: 100%;
  width: 26.7%;
}
.bt-nav li a{
  display: block;
  color: #282828;
  text-align: center;
  text-decoration: none;
}
.bt-nav .active a{
  background: #fff;
  color: #FF6F57;
}
.bt-nav .active a:hover{
  background: #fff;
}
.bt-nav .active a:focus{
  background-color: #ddd;
  background-image: none;
  margin-left:
}
.bottom-imgs img{
  display: inline-block;
  height: 200px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
#myCarousel{
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}
.carousel {
	margin: 50px auto;
	padding: 0 30px;
  width: 500px;
  height: 300px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .testimonial p{
  width: 100%;

}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimoni {
  margin-bottom: 50px;
}
.carousel .overview {
	font-style: normal;
}
.carousel .overview b {
	color: #333333;
  font-weight: 400;
}
.carousel .carousel-control {
	width: 20px;
  height: 20px;
  margin-top:100px;
  top: 5%;
	background: none;
  margin-right: 180px;
}
.carousel-control i {
  font-size: 48px;
	line-height: 42px;
  display: inline-block;
	color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.customer h2 {
	color:#ff6600;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	position: relative;
	margin: 5px 0 5px;
}
.customer h2::after {

	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
}
.customer{
  padding:15px;
  border:1px solid 	#bab4bb;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about{
  margin-top: 20px;
  border-left:2px solid #d9d9d9;
  height: 250px;
}
.about p{

  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
  font-family: 'Droid Serif';
}
.testimoni .customer{
  height: 300px;
  width: 100%;
}
.subscribe{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  display: block;
  width: 100%;
}
.single{
max-width: 650px;
margin: 60px auto;
text-align: center;
position: relative;
z-index: 2;
}
.single h2 {
font-size: 26px;
color: white;
margin-bottom: 40px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
}
.single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.single .btn-custom {
min-height: 50px;
background: #f15a29;
color: #fff;
width: 170px;
font-size: 17px;
font-weight: 300;
letter-spacing: 2px;
}
.colorlib-imag{
  height: 300px;
}
.single .btn-custom:hover{
  background-color: #fff;
  color: #000;
  transition: all ease 0.3s;
}
input[type=email]{
  font-size: 20px;
  background-color: #ffffff;
  opacity: 0.6;
  color: #fff;
}
.eml{
  color: #fff;
}
.footer{
	background: #f15a29;
  height: 400px;
  width: 100%;
  margin-top: 70px;
}
.footer ul{
	margin:0 auto;
	margin-bottom:62px;
	text-align:center;
	list-style-type:none;
}
.footer ul li{
	display:inline-block;
	text-align:center;
	background:#bebabe;
	color:#ffffff;
	line-height:55px;
	margin:0 17px 14px;
	width:55px !important;
	height:55px !important;

	-webkit-border-radius: 50%;
    border-radius: 50%;
}
.footer ul li:hover{
	background:#1d1d1d ;
}
.footer ul li:hover	a{
	color:#fff;
}

.footer ul li a{
	color:#fff;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i{
	line-height:55px !important;
	color:#fff;
}

.footer p{
	color:#fff;
	font-size:20px;
	line-height:24px;
	font-weight:400;
	text-align:center;
  font-family: "Noto Sans", sans-serif;
}
.footer-p{
  margin-bottom: 5px;
  margin-top: 50px;
}
.footer-p p{
  font-size: 12px;
  color: #fff;

}
.footer-ico{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 5px;
}
.footerdesc{
  margin-top: 20px;
}
.gototop {
	display:inline-block;
	width:40px;
	height:40px;
	border:2px solid #746c75;
}
.gototop i {
	color:#817a82;
	line-height:35px;
}

.image-entry {
  margin-bottom: 3em; }
  .image-entry .hotel-img {
    height: 200px;
    width: 250px;
    background: #fff;
    display: block;
    margin-bottom: 20px;
    position: relative; }
    .colorlib-loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;}

    .js .animate-box {
      opacity: 0; }
      #colorlib-testimony .owl-carousel {
        z-index: 0; }

      #colorlib-testimony .owl-carousel .owl-stage-outer {
        z-index: -1; }

      #colorlib-testimony .owl-theme .owl-controls {
        margin-top: -10px;
        z-index: 1;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin-top: -30px; }

      #colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px;
        background: transparent;
        opacity: 1; }
        #colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
          background: #f15a29;
          color: #000;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: none;
          font-size: 20px; }

      #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
        float: left;
        margin-left: -60px; }
        @media screen and (max-width: 768px) {
          #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
            margin-left: 0; } }

      #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-next {
        float: right;
        margin-right: 60px; }
        @media screen and (max-width: 768px) {
          #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-next {
            margin-right: 10%; } }
